

CREATE DATABASE [QLCuaHangVai] ON  PRIMARY 
( NAME = N'QLCuaHangVai', FILENAME = N'D:\SQL\MSSQL11.HH\MSSQL\DATA\QLCuaHangVai.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLCuaHangVai_log', FILENAME = N'D:\SQL\MSSQL11.HH\MSSQL\DATA\QLCuaHangVai_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCuaHangVai].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCuaHangVai]
GO
/****** Object:  Table [dbo].[QuanLy]    Script Date: 02/27/2018 18:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLy](
	[ID] [nchar](20) NOT NULL,
	[Pass] [nvarchar](max) NULL,
 CONSTRAINT [PK_QuanLy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 02/27/2018 18:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [nchar](20) NULL,
	[Pass] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[LoginQuanLy]    Script Date: 02/27/2018 18:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LoginQuanLy] 
	@ID nchar(20)
as
	select Pass from QuanLy where ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[LoginNhanVien]    Script Date: 02/27/2018 18:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LoginNhanVien] 
	@ID nchar(20)
as
	select Pass from NhanVien where ID = @ID
GO

CREATE TABLE dbo.[HangHoa] (
	[Id] int NOT NULL IDENTITY(1, 1),
	[Ten] nvarchar(50) NOT NUL,
	[SoLuong] int NOT NULL,
	[DonGia] money NOT NULL,
	[MoTa] ntext NULL
)



CREATE PROC ThemHangHoa(
	@Ten nvarchar(50),
	@SoLuong int,
	@DonGia money,
	@MoTa ntext
)
AS 
BEGIN
	DECLARE @COUNT = SELECT COUNT(*) FROM HangHoa
	INSERT INTO [HangHoa] VALUES (@Ten, @SoLuong, @DonGia, @MoTa)
	IF (@COUNT < SELECT COUNT(*) FROM HangHoa)
	BEGIN
		SELECT 1
	END
	ELSE
	BEGIN
		SELECT -1
	END
END


CREATE PROC LayTatCaHangHoa
AS
BEGIN
	SELECT * FROM HangHoa
END


CREATE PROC THEMSOLUONGVAOHANGHOASANCO(
	@Id int,
	@SoLuong int 
)
AS
BEGIN
	IF((SELECT COUNT(*) FROM HangHoa WHERE Id = @Id) > 0)
	AS
	BEGIN
		UPDATE HangHoa SET SoLuong = ((SELECT SoLuong FROM HangHoa WHERE Id = @Id) + @SoLuong) WHERE Id = @Id
		SELECT 1
	END
	ELSE
	BEGIN
		SELECT -1 
	END
END




CREATE PROC GIAMSOLUONGVAOHANGHOASANCO(
	@Id int,
	@SoLuong int 
)
AS
BEGIN
	IF((SELECT COUNT(*) FROM HangHoa WHERE Id = @Id) > 0)
	AS
	BEGIN
		UPDATE HangHoa SET SoLuong = ((SELECT SoLuong FROM HangHoa WHERE Id = @Id)- @SoLuong) WHERE Id = @Id
		SELECT 1
	END
	ELSE
	BEGIN
		SELECT -1 
	END
END





















