USE [master]
GO
/****** Object:  Database [QLCuaHangVai]    Script Date: 02/27/2018 18:13:33 ******/
CREATE DATABASE [QLCuaHangVai] ON  PRIMARY 
( NAME = N'QLCuaHangVai', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.HH\MSSQL\DATA\QLCuaHangVai.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLCuaHangVai_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.HH\MSSQL\DATAQ\LCuaHangVai_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCuaHangVai].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCuaHangVai]
GO
/****** Object:  Table [dbo].[QuanLy]    Script Date: 02/27/2018 18:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLy](
	[ID] [nchar](20) NOT NULL,
	[Pass] [nvarchar](max) NULL,
 CONSTRAINT [PK_QuanLy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 02/27/2018 18:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [nchar](20) NULL,
	[Pass] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[LoginQuanLy]    Script Date: 02/27/2018 18:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LoginQuanLy] 
	@ID nchar(20)
as
	select Pass from QuanLy where ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[LoginNhanVien]    Script Date: 02/27/2018 18:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LoginNhanVien] 
	@ID nchar(20)
as
	select Pass from NhanVien where ID = @ID
GO
